* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: black;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

header {
  margin: 0 32px;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

nav img {
  margin: 0 32px;
}

.flex-nav {
  display: flex;
}

a {
  margin-left: 20px;
}

ul {
  list-style: none;
}

.burger {
  pointer-events: none;
  opacity: 0;
  position: absolute;
}

.menu {
  position: fixed;
  top: 100;
  left: 16;

  pointer-events: none;
  opacity: 0;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 700px) {
  .burger {
    pointer-events: auto;
    opacity: 1;
    position: sticky;
    right: 16px;
  }

  .flex-nav a {
    pointer-events: none;
    opacity: 0;
  }
}
